.section{
  padding-top: 60px;
  padding-bottom: 60px;
  &-text{
    &.text{
      &-md{
        max-width: 810px;
        margin: 0 auto;
      }
      &-sm{
        max-width: 400px;
        margin: 0 auto;
      }
    }
  }
  &-intro{
    color: $color_white;
    text-align: center;
    .btn{
      z-index: 1;
      position: relative;
    }
    .text{
      font-size: 20px;
      line-height: 1.6;
      margin-bottom: 20px;
      &-info{
        color: $color_info;
        font-size: 12px;
        a{
          color: inherit;
        }
      }
    }
    .label{

      margin-bottom: 10px;
    }
    .value{
      font-size: 38px;
      line-height: 50px;
      font-family:$font_family_li;
      letter-spacing: -2px;
      .number{
        display: inline-block;
        vertical-align: top;
        padding: 0 7px;
        border-radius: 7px;
        background: $bg-dark;
        +.number{
          margin-left: 5px;
        }
      }
    }

    .cash,.timer{

      width: 310px;
      padding-top: 75px;

    }

    .cash{
      text-align: left;
    }
    .timer{
      text-align: right;
    }
    .intro{
      &-map{
        position: relative;
        margin-top: -17%;
        margin-bottom: -30%;
        left: 50%;
        @include web_transform(translateX(-50%));
        width: 1545px;
        height: 910px;
        .point{
          position: absolute;
          top: 130px;
          left: 10%;
        }
      }
      &-down{
        z-index: 1;
        position: relative;
      }
    }
  }
  &-about{
    .about{
      &-more{
        background: $bg-dark;
        border-radius: 8px;
        padding: 40px 0;
        margin: -60px 0 60px;
        position: relative;
        z-index: 1;
      }
      &-text{
        padding-top: 70px;
      }
      &-ceo{
        padding-right:60px;
        text-align: right;
        position: relative;
        .name{
          font-size: 20px;
          text-align: left;
          width: 260px;
          height: 195px;
          padding-top: 70px;
          padding-left: 70px;
          background: url("../images/bubble.svg") no-repeat;
          color: $color_white;
          position: absolute;
          right: 150px;
          bottom:0;
          border-radius: 110px 100px 190px 150px;
          &:after{
            content: '';
            position: absolute;
            width: 94%;
            height: 73%;
            top:17%;
            left:3%;
            border-radius: 110px 100px 190px 150px;
            @include box_shadow(0 37px 109px rgba(23, 106, 253, 0.56));
            z-index: -1;
          }
          .pos{
            font-size: 18px;
          }
        }
      }
      &-quote{
        padding-top: 100px;
        max-width: 640px;
        padding-right: 30px;
        .quote{
          padding: 0 55px;
          margin: 0 -40px;
          margin-bottom: 80px;
          position: relative;
          font-size: 35px;
          color: $color_title;
          line-height: 1.2;
          &:before,
          &:after{
            font-size: 120px;
            line-height: 30px;
          }
          &:before{
            top:15px;
            left:0;
          }
          &:after{
            bottom: -50px;
            right:0;
            margin-left: 15px;
          }
        }
      }
    }
  }
  &-data{
    .data{
      &-text{
        max-width: 800px;
        margin: 0 auto;
        text-align: center;
        &-save{
          font-size: 18px;
          line-height: 1.5;
          max-width: 620px;
          margin: 0 auto;
          color: $color_text_info;
        }
      }

      &-item{
        width: 330px;
        text-align: right;
        font-size: 18px;
        font-family: $font_family_2;
        line-height: 1.5;
        .box-icon{
          width: 96px;
          height: 96px;
          padding:25px;
          margin-left: 25px;
          text-align: center;
          position: relative;
          background:$color_blue_1;
          background: -moz-linear-gradient(left, $color_blue_1 0%, $color_blue_2 100%);
          background: -webkit-linear-gradient(left,  $color_blue_1 0%,$color_blue_2 100%);
          background: linear-gradient(to right, $color_blue_1 0%,$color_blue_2 100%);
          @include box_shadow(0 37px 109px rgba(23, 106, 253, 0.56));
          border-radius: 50% 50% 0 50%;
        }
        &.right{
          text-align: left;
          .box-icon{
            margin-left: 0;
            margin-right:25px;
          }
        }
        &:nth-child(1){
          .box-icon{
            @include  web_transform(rotate(-7deg));
            .icon{@include  web_transform(rotate(7deg));}
          }
        }
        &:nth-child(2){
          .box-icon{
            border-radius: 50% 0 50% 50%;
            @include  web_transform(rotate(-2deg));
            .icon{@include  web_transform(rotate(2deg));}
          }
        }
        &:nth-child(3){
          .box-icon{
            border-radius: 0 50% 50% 50%;
            @include  web_transform(rotate(-45deg));
            .icon{@include  web_transform(rotate(45deg));}
          }
        }
      }
      &-cloud{
        margin: 60px auto;
        width: 420px;
        height: 420px;
        position: relative;
        svg{
          a{
            cursor: default;
            pointer-events: none;
          }
        }
        .data-item{
          position: absolute;
          z-index: 1;
          &:nth-child(1){
            right: 95%;
            top:5%;
          }
          &:nth-child(2){
            right: 95%;
            bottom:5%;
          }
          &:nth-child(3){
            left: 100%;
            top:40%;
          }
        }
      }

    }
  }
  &-benefit{
    .benefit{
      &-tabs{
        text-align: center;
        .nav-tabs{
          li{
            &.active{
              a{
                &:after{
                  position: absolute;
                  top:100%;
                  left:50%;
                  width: 0;
                  height: 0;
                  border-bottom:25px solid $color_white;
                  border-left:25px solid transparent;
                  border-right:25px solid transparent;
                  content: '';
                  margin-left: -25px;
                  margin-top: 27px;
                }
              }
            }

          }
        }
        .tab{
          &-content{
            background: $color_white;
            min-height: 450px;
            @include box_shadow(0 -5px 150px rgba(169, 184, 199, 0.21));
            border-radius: 5px;
            padding: 80px 95px;
          }
        }
        .row-double-three{
          .block-text{
            max-width: 500px;
            padding-right: 50px;
          }
        }

      }
      &-item{
        padding-left: 90px;
        position: relative;
        &+.benefit-item{
          margin-top: 70px;
        }
        .box-icon{
          position: absolute;
          text-align: center;
          left: 0;
          top: 50%;
          @include web_transform(translateY(-50%));
          z-index: 5;
        }
      }
    }
  }
  &-lead{
    background: $color_gray_3;
    position: relative;
    &:before{
      position: absolute;
      top: -75%;
      height: 265%;
      width: 100%;
      left:0;
      content: '';
      background: url("../images/bg2.svg") no-repeat center top;
      z-index: -1;
    }
    .lead{
      &-line{
        padding-top:50px;
        .slick-next, .slick-prev{
          top:30%;
        }
        .slide{
          display: inline-block;
          vertical-align: top;
          opacity: 1;
          @include web_transition(all 0.2s ease 0.5s);
          &:not(.slick-center){
            opacity: 0.3;
            @include web_transform(scale(0.9));
          }
        }
      }
      &-quote{
        width: 380px;
        margin: 0 auto;
        font-family: $font_family_2;
        font-size: 18px;
        line-height: 1.5;
        .video{
          margin-bottom: 20px;
          height: 240px;
          background: $color_white;
        }
        .name{
          font-size: 25px;
          color: $color_title;
          line-height: 1;
        }
        .pos{
          font-family: $font_family_bold_2;
        }

      }

    }
  }
  &-activity{
    padding-top: 100px;
    .activity{
      &-tabs{
        padding: 0 15px;
        .tab-content{
          min-height: 300px;
        }
        .slide{
          text-align: center;
          &-activity{
            padding: 20px 0;
          }
        }
        .tab{
          &-content{
            position: relative;
            min-height: 360px;
          }
          &-pane{
            display: block;
            position: absolute;
            width: 100%;
            top:0;
            left:0;
            z-index: -1;
            &.active{
              z-index: 1;
            }
          }
        }
      }
      &-video{
        padding: 0 15px;
        width: 380px;
        text-align: left;
        height: 240px;
        .video{
          height: 100%;
          background:$color_gray_3;
        }
      }
      &-article{
        padding: 20px 15px 40px;
        width: 380px;
        text-align: left;
        &-body{
          padding: 30px;
          border-radius: 5px;
          box-shadow: 0 7px 38px 6px rgba(14, 49, 107, 0.05);
          background: $color_white;
          min-height: 380px;
        }
        .image{
          height: 140px;
          width: 100%;
          overflow: hidden;
          text-align: center;
          img{
            display: inline-block;
            vertical-align: middle;
            max-height: 100%;
          }
        }
        .quote{
          min-height: 120px;
        }
        .box-link{
          margin-top: 10px;
          margin-left: 25px;
        }
      }
    }
  }
  &-player{
    text-align: center;
    .player{
      &-line{
        max-height: 196px;
        //margin: 75px 0;
        .box-img{
          width: 30%;
        }
      }
    }
  }
  &-start{
    color: $color_white;
    position: relative;
    margin-top: 200px;
    &:before{
      position: absolute;
      top: -675px;
      height: 1520px;
      width: 100%;
      left:0;
      content: '';
      background: url("../images/bg5.svg") no-repeat center top;
      z-index: -1;
    }
    .timer{
      margin-top: 40px;
      margin-bottom:80px;
    }
    .form-subs{
      margin-top: 50px;
      .text-info{
        font-size: 12px;
      }
    }
  }
  &-question{
    .question{
      &-item{
        font-family: $font_family_2;
        padding: 10px 0;
        .name{
          font-size: 20px;
          border-bottom: 2px solid #ddebff;
          line-height: 30px;
          color: $color_title;
          &:hover{
            border-bottom-color: transparent;
          }
          &.open{
            border-bottom-color: transparent;
          }

        }
        .text{
          padding: 15px 20px;
          background: $color_gray_3;
          border-radius: 5px;
          display: none;
          margin: 20px 0 10px;
          ul{
            margin-top: 1em;
          }
        }
      }
    }
  }
}