.block-flex {
  &-center {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
  }
  &-top {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: flex-start;
    -webkit-align-items: flex-start;
  }
  &-bottom {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    align-items: flex-end;
    -webkit-align-items: flex-end;
  }
}

.section {
  &-stage-web {
    padding-bottom: 60px;
    .text-stage {
      max-width: 980px;
      margin: 0 auto;
      text-align: center;
      .block-text {
        max-width: 730px;
        margin: 0 auto;
        text-align: center;
      }
      padding-bottom: 60px;
    }
    .box-mapala {
      height: 500px;
      background-image: url("../images/bg-mapala.png");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 4px;
      padding: 25px 0;
      display: flex;
      display: -webkit-flex;
      flex-direction: column;
      -webkit-flex-direction: column;
      justify-content: flex-end;
      -webkit-justify-content: flex-end;
      align-items: stretch;
      -webkit-align-items: stretch;
      .box-mapala-info {
        max-width: 950px;
        margin: 0 auto;
        > div {
          width: 50%;
        }
        .box-text-info {
          .text {

            line-height: 24px;
            font-family: $font_family_2;
            color: $color_white;
            &:first-child {
              padding-bottom: 25px;
            }
          }
        }
      }
    }
  }
  &-distribution {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: -350px;
      left: 0;
      display: block;
      z-index: -2;
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      background-image: url(../images/bg3.svg);
      width: 100%;
      height: 128%;
    }
    .text-distribution {
      margin-bottom: 40px;
      .name-block {
        color: $color_white;
        text-align: center;
      }
      .nav {
        li {
          display: inline-block;
          .name-block {
            color: #3f5295;
            border-bottom: 1px dashed #3f5295;
          }
          &.active {
            .name-block {
              color: $color_white;
              border-bottom: none;
            }
          }
        }
      }
      .block-text {
        color: $color_text_distribution;
      }
      &.date-distribution {
        max-width: 700px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 80px;
      }
    }
    .box-chart-line {
      padding: 30px 0 50px;
    }
    .box-distribution-step {
      padding-bottom: 150px;
      margin: 0 -10px;
      .box-step {
        max-width: 330px;
        width: 100%;
        min-height: 230px;
        padding: 0 10px;
        .box-icon {
          height: 90px;
          padding-top: 8px;
        }
        .name {
          color: $color_white;
          font-size: 20px;
          line-height: 24px;
          font-family: $font_family_bold_2;
          padding-bottom: 15px;
        }
        .text {

          line-height: 24px;
          color: $color_text_distribution;
          font-family: $font_family_2;
        }
      }
    }
    .box-chart-token {
      padding-bottom: 110px;
      > div {
        width: 33%;
      }
      .box-sum {
        padding-right: 80px;
        .item-sum {
          padding-bottom: 22px;
          text-align: right;
          .name {
            color: $color_white;
            font-family: $font_family_bold_2;
            font-size: 20px;
          }
          .text {
            color: $color_text_distribution;
            font-family: $font_family_2;

          }
        }
      }
      .box-chart {
        margin: auto;
        width: 350px;
        height: 350px;
        max-width: 100%;
      }
      .box-chart-info {
        padding-left: 70px;
        .item-chart {
          padding: 10px 0;
          .item-color {
            width: 30px;
          }
          .item-cell {
            vertical-align: top;
          }
          .box-color {
            width: 14px;
            height: 14px;
            border-radius: 50%;
            margin-right: 14px;
            &-command {
              background: #25dafc
            }
            &-bonus {
              background: #155afd
            }
            &-community {
              background: #9b4dfe
            }
            &-team {
              background: #f90059
            }
            &-sale {
              background: #c1c5f1
            }
          }
          .box-text {
            .title {
              color: $color_white;
              font-size: 20px;
              font-family: $font_family_bold_2;
            }
            .text {

              color: $color_text_distribution;
              font-family: $font_family_2;
            }
          }
        }
      }
    }
  }
  &-roadmap {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      top: 158px;
      left: 0;
      display: block;
      z-index: -2;
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/kolbaska.svg);
      width: 100%;
      height: 768px;
    }
    .text-roadmap {
      margin-bottom: 80px;
    }
    .box-roadmap {
      &.box-revers {
        flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse;
        .box-item-roadmap {
          text-align: right;
          .box-head {
            flex-direction: row-reverse;
            -webkit-flex-direction: row-reverse;
            .box-name {
              text-align: right;
            }

          }
        }
      }
      .box-item-roadmap {
        width: 33%;
        height: 330px;
        padding: 0 18px;
        .box-head {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: stretch;
          align-items: center;
          padding-bottom: 42px;
          .box-number {
            font-family: $font_family_bold_2;
            font-weight: bold;
            font-size: 25px;
            background-color: #1872fd;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            text-align: center;
            line-height: 58px;
            color: $color_white;
            @include box-shadow(0 0 28px rgba(129, 0, 46, 0.44));
          }
          .box-name {
            font-family: $font_family_2;

            line-height: 24px;
            padding: 0 14px;
            color: $color_white;
          }
          .box-btn {
            width: 100%;
            .btn {
              width: 100%;
            }
          }
        }
        .box-body {
          font-size: 16px;
          line-height: 24px;
          padding-bottom: 10px;
          color: $color_text;
          .name-date {
            font-family: $font_family_bold_2;
            padding-bottom: 16px;
          }
          .text {
            font-family: $font_family_2;
          }
        }
        .box-stages {
          position: relative;
          .dropdown {

            text-align: left;
            .dropdown-menu {
              display: none;
              position: absolute;
              left: 0;
              bottom: 100%;
              margin-bottom: 5px;
              z-index: 1;
            }
            &.open {
              .dropdown-menu {
                @include box-shadow(0 0 28px rgba(129, 0, 46, 0.24));
                display: block;
                background-color: #ffffff;
                border-radius: 4px;
                padding: 10px;
                .block-text {
                  .point {
                    li {
                      margin-bottom: 5px;
                      font-size: 13px;
                      &:last-child {
                        margin-bottom: 0;
                      }
                    }
                  }
                }
              }
            }
          }
          a {
            color: #1872fd;
            font-size: 18px;
            display: inline-block;
            width: 100%;
            text-align: left;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
  &-commands {
    padding-bottom: 0;
    position: relative;
    background-color: #f3f6f8;
    &:after {
      content: '';
      position: absolute;
      top: 97%;
      left: 0;
      display: block;
      z-index: -2;
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/bg4-1.svg);
      width: 100%;
      height: 270px;
    }
    &:before {
      content: '';
      position: absolute;
      bottom: 97%;
      left: 0;
      display: block;
      z-index: -2;
      background-size: auto;
      background-position: center;
      background-repeat: no-repeat;
      background-image: url(../images/bg4-2.svg);
      width: 100%;
      height: 300px;
    }
    .block-commands {
      .block-accordion {
        .box-accordion-head {
          margin-top: 80px;
          .item-accordion {
            width: 30%;
            color: #515582;
            text-align: center;
            .box-img {
              margin-bottom: 50px;
              position: relative;
              min-height: 238px;
              .box-icon {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                padding-left: 0;
                padding-right: 0;
                text-align: center;
                position: absolute;
                bottom: -25px;
                left: 50%;
                margin-left: -25px;
              }
            }
            .box-name {
              font-size: 25px;
              line-height: 24px;
              color: #00074a;
              font-family: $font_family_2;
            }
            .box-qualification {
              font-family: $font_family_bold_2;

              line-height: 24px;
              padding-bottom: 14px;
            }
            .box-info {
              line-height: 24px;
              font-family: $font_family_2;
              font-size: 16px;
            }
          }
        }
        .box-btn {
          .btn {
            color: $color_title;
            padding: 13px 35px;
            &:hover {
              background: #0d4bdd;
              border-color: #0d4bdd;
              color: $color_white;
            }
          }
          padding-top: 40px;
          padding-bottom: 80px;
        }
        .box-accordion-body {
          &.accordion-body-toggle {
            display: none;
            padding-top: 0;
          }
          &.padding-none {
            padding-bottom: 0;
          }
          text-align: center;
          padding-top: 80px;
          padding-bottom: 80px;
          .item-accordion {
            width: 19%;
            color: #515582;
            text-align: center;
            display: inline-block;
            vertical-align: top;
            padding-bottom: 25px;
            .box-img {
              margin-bottom: 42px;
              position: relative;
              text-align: center;
              margin-left: auto;
              margin-right: auto;
              img {
                width: 160px;
                height: 160px;
                border-radius: 50%;
              }
              .box-icon {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                padding-left: 0;
                padding-right: 0;
                text-align: center;
                position: absolute;
                bottom: -25px;
                left: 50%;
                margin-left: -25px;
              }
            }
            .box-name {
              font-size: 20px;
              line-height: 24px;
              color: #00074a;
              font-family: $font_family_2;
            }
            .box-qualification {
              font-family: $font_family_bold_2;
              font-size: 14px;
              line-height: 24px;
              padding-bottom: 14px;
            }
          }
        }
      }
    }
  }
  &-benefit-new{
    .box-section{
      padding-top: 50px;
      .name-section{
        font-size: 28px;
        color: #00074a;
        line-height: 1.2;
        padding-bottom: 20px;
        margin-bottom: 20px;
        position: relative;
        &:after {
          position: absolute;
          top: 100%;
          width: 64px;
          height: 3px;
          left: 50%;
          margin-left: -32px;
          background: #155afd;
          content: '';
        }
      }
      .text-section{

        color: #515582;
        line-height: 24px;
        &-padding{
          padding-top: 16px;
        }
      }
      .box-flip{
        padding-top: 50px;
      }
      .flipster{
        .flip-item{
          width: 400px;
          height: 278px;
          .box-info{
            width: 100%;
            height: 100%;
            padding: 95px 35px 10px 35px;
            position: absolute;
            top: 0;
            font-family:$font_family_2;
            &-name{
              font-weight: bold;
              font-size: 20px;
              line-height: 24px;
              padding-bottom: 16px;
              color: $color_white;
            }
            &-text{
              font-size: 14px;
              line-height: 24px;
              color: $color_white;
            }
          }
        }
      }
      .block-journey{
        padding-top: 0;
        padding-bottom: 40px;
        .box-journey{
          width: 48%;
          color: #14195d;
          .box-img{
            position: relative;
            height: 250px;
            .box-blue{
              width: 130px;
              height: 130px;
              line-height: 130px;
              text-align: center;
              position: absolute;
              left: 0;
              bottom:0;
              background: #155afd;
              background: -moz-linear-gradient(left,#155afd 0%,#23d0fc 100%);
              background: -webkit-linear-gradient(left,#155afd 0%,#23d0fc 100%);
              background: linear-gradient(to right,#155afd 0%,#23d0fc 100%);
              -webkit-box-shadow: 0 37px 109px rgba(23,106,253,.56);
              -moz-box-shadow: 0 37px 109px rgba(23,106,253,.56);
              box-shadow: 0 37px 109px rgba(23,106,253,.56);
              border-radius: 50%;
            }
          }
          .box-info{
            padding-left: 40px;
            .box-name{
              padding-top: 30px;
              font-size: 28px;
            }
            .box-text{

              line-height: 24px;
              padding-top: 15px;
            }
          }

        }
      }
      .box-lesson{
        margin-top: 15px;
        margin-bottom: 30px;
        overflow: hidden;
        align-items: inherit;
        -webkit-align-items: inherit;
        .lesson{
          color: #ffffff;
          font-size: 16px;
          line-height: 24px;
          padding: 30px 40px;
          width: 50%;
          &-left{
            background-color: #14195d;
            position: relative;
            &:after{
              content: '';
              position: absolute;
              top: -2px;
              left: 100%;
              background-image: url(../images/lin.svg);
              -webkit-background-size: contain;
              background-size: contain;
              background-repeat: no-repeat;
              height: 103%;
              width: 40px;
              //height: 100%;
              //width: 15px;
              //background-color: #14195d;
              //border-top-right-radius: 48%;
              //border-bottom-right-radius: 48%;
            }
          }
          &-right{
            background-color: #155afd;

          }
        }
      }
      .block-business{
        padding-top: 35px;
        padding-bottom: 10px;
        justify-content: space-around;
        -webkit-justify-content: space-around;
        .box-business{
          width: 290px;
          padding: 0 10px;
          .box-icon{
            height: 90px;
          }
          .text{
            color: #515582;

            line-height: 24px;
          }
        }
      }
    }
  }
  .btn-play-video{
    margin-top: 15px;
  }
  .text.text-bold{
    font-size: 30px;
  }
}

// thanks page
.thanks {
  .container {
    position: relative;
  }
  .wrapper {
    background: #10176f;
  }
  .main {
    padding-bottom: 50px;
  }
  footer {
    padding: 40px 0 40px;
    line-height: 20px;
    background: #ffffff;
  }
  .name-block {
    font-size: 40px;
    color: $color_white;
    padding-top: 100px;
    //padding-bottom: 15px;
  }
  strong {
    font-weight: bold;
  }
  p {
    margin-bottom: 20px;
    font-size: 20px;
    color: #d0c0c0;
    &.text{
      font-size: 24px;
      padding-bottom: 15px;
    }
    &.text-name{
      font-size: 20px;
      color: #ffffff;
      padding-bottom: 5px;
    }
  }
  .wrapper ul {
    display: block;
    margin: 0 auto 40px;

    li {

      color: #d0c0c0;
    }
  }
  .wrapper .btn {
    margin-top: 20px;
    & + .btn {
      margin-left: 20px;
    }
  }
}
.box-scrolling {
  position: fixed;
  bottom: 50px;
  right: 21px;
  z-index: 10000;
  pointer-events: none;
  transition: all .2s linear;
  opacity: 0;
  &.scroll {
    display: block;
    opacity: 1;
    transition: all .2s linear;
    pointer-events: visible;
  }
  .box-round {
    width: 46px;
    height: 46px;
    line-height: 46px;
    text-align: center;
    margin-left: 30px;
    -webkit-box-shadow: 0 0 35px rgba(229, 65, 255, 0.2);
    -moz-box-shadow: 0 0 35px rgba(229, 65, 255, 0.2);
    box-shadow: 0 0 35px rgba(229, 65, 255, 0.2);
    display: block;
    border-radius: 50%;
    background: #6b6fa9;
  }
}
.section-data .block-data-tell{
    img{
      height: 470px;
    }
}
.section-activity .block-presentation{
  max-width: 860px;
  margin: 30px auto;
  font-size: 16px;
}
