.icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  vertical-align: top;
  background-repeat: no-repeat;
  background-size: 100% auto;
  &-left{
    margin-right: 5px;
  }
  &-right{
    margin-left:5px;
  }
  &-middle{
    vertical-align: middle;
    margin-top: -2px;
  }
  &-play{
    width: 50px;
    height: 36px;
    border-radius: 27%;
    background: #de004e url(../images/play.png) no-repeat center center;
  }
  &-logo{
    width: 215px;
    height: 30px;
    background-image: url("../images/logo.svg");
    background-position: center;
    margin-left: -15px;
    &.dark{
      background-image: url("../images/logo-dark.svg");
    }
    &.small{
      width: 157px;
      height: 21px;
      margin-left: -8px;
    }
  }
  &-yt{
    width: 22px;
    height: 15px;
    background-image: url("../images/you.svg");
  }
  &-tw{
    width: 20px;
    height: 15px;
    background-image: url("../images/tw.svg");
  }
  &-tel{
    width: 21px;
    height: 18px;
    background-image: url("../images/tel.svg");
  }
  &-air{
    width: 20px;
    height: 20px;
    background-image: url("../images/air.svg");
  }
  &-air-white{
    width: 20px;
    height: 20px;
    background-image: url("../images/air-white.png");
  }
  &-insta{
    width: 21px;
    height: 20px;
    background-image: url("../images/inst.svg");
  }
  &-fb{
    width: 22px;
    height: 21px;
    background-image: url("../images/fb.svg");
  }
  &-github{
    width: 20px;
    height: 18px;
    background-image: url("../images/github.svg");
  }
  &-bit{
    width: 16px;
    height: 20px;
    background-image: url("../images/bc.svg");
  }
  &-db{
    width: 47px;
    height: 47px;
    background-image: url("../images/db.svg");
    &.blue{
      width: 45px;
      height: 45px;
      background-image: url("../images/db-blue.svg");
    }
  }
  &-map{
    width: 45px;
    height: 45px;
    background-image: url("../images/map.svg");
  }
  &-desktop{
    width: 47px;
    height: 47px;
    background-image: url("../images/desktop.svg");
  }
  &-app{
    width: 36px;
    height: 47px;
    background-image: url("../images/mobile.svg");
  }
  &-buy{
    width: 60px;
    height: 60px;
    background-image: url("../images/buy.png");
  }
  &-pass{
    width: 60px;
    height: 60px;
    background-image: url("../images/pass.png");
  }
  &-swap{
    width: 60px;
    height: 60px;
    background-image: url("../images/swap.png");
  }
  &-trip{
    width: 36px;
    height: 53px;
    background-image: url("../images/TRAV.svg");
  }
  &-bis{
    width: 34px;
    height: 53px;
    background-image: url("../images/BM.svg");
  }
  &-dev{
    width: 35px;
    height: 53px;
    background-image: url("../images/DEV.svg");
  }
  &-in{
    width: 23px;
    height: 21px;
    background-image: url("../images/linkedin.svg");
  }
  &-facebook{
    width: 23px;
    height: 21px;
    background-image: url("../images/facebook.svg");
  }
  &-youtube{
    width: 23px;
    height: 16px;
    background-image: url("../images/youtube.svg");
  }
  &-vk{
    width: 23px;
    height: 21px;
    background-image: url("../images/vk.svg");
  }
  &-vk-up{
    width: 27px;
    height: 16px;
    background-image: url("../images/vk-up.svg");
  }
  &-steemit{
    width: 21px;
    height: 21px;
    background-image: url("../images/steemit.svg");
  }
  &-medium{
    width: 22px;
    height: 19px;
    background-image: url("../images/medium.svg");
  }
  &-golos{
    width: 20px;
    height: 22px;
    background-image: url("../images/golos.svg");
  }
  &-close {
    width: 15px;
    height: 15px;
    background-image: url(../images/close.png);
  }
  &-name {
    width: 19px;
    height: 24px;
    background-image: url("../images/name.png");
  }
  &-mail {
    width: 20px;
    height: 16px;
    background-image: url("../images/email.png");
  }
  &-up {
    width: 14px;
    height: 16px;
    background-image: url(../images/up.png);
  }
  &-coin {
    width: 45px;
    height: 45px;
    background-image: url(../images/icon-coin.png);
  }
  &-map {
    width: 45px;
    height: 45px;
    background-image: url(../images/icon-map.png);
  }
  &-coin1 {
    width: 51px;
    height: 53px;
    background-image: url(../images/icon-coin-n.png);
  }
  &-rio {
    width: 67px;
    height: 63px;
    background-image: url(../images/icon-rio.png);
  }
  &-1 {
    width: 49px;
    height: 67px;
    background-image: url(../images/icon1.png);
  }
  &-2 {
    width: 67px;
    height: 67px;
    background-image: url(../images/icon2.png);
  }
  &-3{
    width: 56px;
    height: 67px;
    background-image: url(../images/icon3.png);
  }
}
.active{
  a{
    .icon{
      &-trip{
        background-image: url("../images/TRAV-white.svg");
      }
      &-bis{
        background-image: url("../images/BM-white.svg");
      }
      &-dev{
        background-image: url("../images/DEV-white.svg");
      }
    }
  }

}