@media(min-width: 1025px) {
  .hide-desktop {
    display: none;
  }
}

@media(max-width: 1024px) {
  .hide-tablet {
    display: none;
  }
  header {
  .nav-link-more li {
    padding-left: 0;
    background: none;
  }
  }
  h1{
    br{
      display: none;
    }
  }
  .section-benefit-new {
    .box-section {
      .box-lesson {
        align-items: inherit;
        -webkit-align-items: inherit;
        .lesson {
          br {
            display: none;
          }
        }
      }
    }
  }
}

@media(min-width: 768px) {
  .show-mobile {
    display: none !important;
  }
}

@media(max-width: 767px) {
  .section-activity {
    .block-presentation{
      display: block;
      margin-top: 0;
      margin-bottom: 0;
       ul li {
        margin-bottom: 0.6em;
      }
    }
  }
  .wrapper:after {
    height: 911px;
  }
  body {
    font-size: 14px;
  }
  .hide-mobile {
    display: none;
  }
  .wrapper {
    padding-top: 58px;
    background: url(../images/bg1.svg) no-repeat 64% -2%;
  }
  .box-control {
    .box-icon-left + .form-control {
      padding-left: 30px;
      padding-right: 60px;
    }
    .btn-lg {
      width: 60px;
      padding: 18px 18px;
    }
  }
  .section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .h1, h1 {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .block-text {
    font-size: 14px;
  }
  .block-text ul li {
    margin-bottom: 1.75em;
  }
  .name-box {
    font-size: 16px;
  }
  .nav-link-more {
    padding-top: 10px;
    li {
      width: 46%;
      line-height: 46px;
      margin-left: 0;
      padding-left: 31px;
      a {
        font-size: 14px;
        border-bottom: none;
      }
    }
  }
  .name-block {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .btn-lg {
    padding: 18px 18px;
  }
  .nav-tabs {
    margin: 20px 0;
  }
  .section {
    &.section-stage-web {
      .box-mapala{
        background-position: 23% 0;
        .box-logo{
          .box-img {
            &.padding-block{
              padding: 0;
              max-width: 76%;
            }
          }
        }
      }
    }
    &.section-intro {

      min-height: inherit;
      padding-left: 15px;
      padding-right: 15px;
      .text {
        font-size: 16px;
        line-height: inherit;
        margin-bottom: 10px;
      }
      .intro-map {
        height: 225px;
        margin-top: -75px;
        margin-bottom: 0;
      }
      .cash {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      .timer {
        text-align: left;
        .number {
          min-width: 50px;
        }
      }
      .intro-down {
        padding-bottom: 80px;
        padding-left: 0;
        padding-right: 0;
      }
      .form-subs {
        position: relative;
        top: 0;
        left: 0;
        margin: 0 auto;
        .box-control {
          margin: 0 0 20px;
        }
        .text-info {
          font-size: 10px;
        }
      }
      .cash,
      .timer {
        width: 100%;
        text-align: center;
        padding-top: 40px;
      }
      .label {
        font-size: 15px;
        margin-bottom: 4px;
      }
      .value {
        font-size: 36px;
        line-height: 44px;
      }
    }
    &.section-about {
      background: #000749;
      .about-more {
        margin: 0;
        padding: 0;
        background: none;
        .padding-block {
          padding: 0 15px;
        }
        .flexible {
          display: block;
        }
      }
      .about-text {
        padding-top: 35px;
        padding-left: 15px;
        padding-right: 15px;
        &.flexible {
          display: block;
        }
        .row-half {
          width: 100%;
          float: none;
        }
      }
      .about-ceo {
        padding-right: 0;
        text-align: center;
        .name {
          font-size: 14px;
          width: 120px;
          height: 90px;
          padding-top: 33px;
          padding-left: 34px;
          right: 17%;
          bottom: -15px;
          border-radius: 74px 76px 80px 98px;
          &:after {
            display: none;
          }
        }
      }
      .about-quote {
        padding-top: 50px;
        .quote {
          padding: 0 15px;
          margin: 0;
          position: relative;
          line-height: 20px;
          font-size: 18px;
          &:after, &:before {
            font-size: 70px;
          }
          &:before {
            top: -5px;
            left: -10px;
          }
          &:after {
            bottom: -15px;
          }
        }
      }
    }
    &.section-data {
      padding-left: 15px;
      padding-right: 15px;
      .data-cloud {
        height: auto;
        width: auto;
        margin: 20px auto;
        .data-text-save {
          font-size: 14px;
        }
        .data-item {
          position: relative;
          right: inherit;
          top: inherit;
          left: inherit;
          bottom: inherit;
          width: auto;
          font-size: 14px;
          .box-icon {
            width: 60px;
            height: 60px;
            padding: 0;
            text-align: center;
            margin-left: 0;
            margin-right: 25px;
          }
          &:nth-child(1) {
            margin-bottom: 32px;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            display: flex;
            .name {
              text-align: left;
            }
            .box-icon {
              -webkit-transform: rotate(45deg);
              -moz-transform: rotate(45deg);
              transform: rotate(45deg);
              .icon {
                -webkit-transform: rotate(-45deg);
                -moz-transform: rotate(-45deg);
                transform: rotate(-45deg);
                &.icon-app {
                  width: 23px;
                  height: inherit;
                  position: absolute;
                  left: 30px;
                  bottom: -10px;
                }
              }
            }
          }
          &:nth-child(2) {
            margin-bottom: 32px;
            flex-direction: row-reverse;
            justify-content: flex-end;
            align-items: center;
            display: flex;
            .name {
              text-align: left;
            }
            .box-icon {
              border-radius: 50% 0 50% 50%;
              -webkit-transform: rotate(135deg);
              -moz-transform: rotate(135deg);
              transform: rotate(135deg);
              .icon {
                -webkit-transform: rotate(-135deg);
                -moz-transform: rotate(-135deg);
                transform: rotate(-135deg);
                &.icon-desktop {
                  width: 35px;
                  height: 39px;
                  position: absolute;
                  top: 6px;
                  right: 10px;
                }
              }
            }
          }
          &:nth-child(3) {
            .box-icon {
              border-radius: 0 50% 50% 50%;
              -webkit-transform: rotate(-13deg);
              -moz-transform: rotate(-13deg);
              transform: rotate(-135deg);
              .icon {
                -webkit-transform: rotate(135deg);
                -moz-transform: rotate(135deg);
                transform: rotate(135deg);
                &.icon-db {
                  width: 35px;
                  height: 35px;
                  position: absolute;
                  /* left: 29px; */
                  top: 12px;
                  /* bottom: 20px; */
                  right: 12px;
                }
              }
            }
          }
        }
        .data-text-save {
          font-size: 12px;
        }
      }
    }
    &.section-benefit {
      .section-text {
        padding-left: 15px;
        padding-right: 15px;
      }
      .padding-block {
        padding-left: 15px;
        padding-right: 15px;
      }

      .benefit-tabs {
        .tab-block {
          .nav-tabs {
            li {
              width: 100%;
              margin: 2px 0;
              + li {
                margin-left: 0;
              }
              .btn {
                width: 100%;
                line-height: 30px;
                padding: 5px 10px 5px 50px;
                text-align: left;
                &:after {
                  display: none;
                }
                .icon-trip {
                  width: 20px;
                  height: 29px;
                }
                .icon-bis {
                  width: 20px;
                  height: 29px;
                }
                .icon-dev {
                  width: 20px;
                  height: 29px;
                }
              }
            }
          }

          .tab-content {
            padding: 15px;
            .tab-pane {
              .tab-subname {
                padding-top: 10px;
                margin-bottom: 0;

              }
              .benefit-item {
                padding-left: 0;
                .box-icon {
                  display: none;
                }
                .tab-name {
                  font-size: 16px;
                  &:not(:first-child) {
                    margin-top: 0;
                  }
                }
                + .benefit-item {
                  margin-top: 20px;
                }
              }
              .row-double-three {
                .tab-name {
                  font-size: 16px;
                  padding-bottom: 15px;
                  margin-bottom: 0;
                  &:after {
                    display: none;
                  }
                }
                width: 100%;
                float: none;
              }
              .row-three {
                width: 100%;
                float: none;
              }
            }
          }
        }
      }
    }
    &.section-lead {
      .lead-line {
        padding-top: 15px;
        padding-bottom: 15px;
      }
      .lead-quote {
        .name {
          font-size: 18px;
        }
        .pos {
          font-size: 12px;
        }
        .quote {
          font-size: 12px;
          position: relative;
          :before {
            left: -15px;
          }
        }
        width: 260px;
        .video {
          margin-bottom: 14px;
          height: 180px;
        }
      }
    }
    &.section-player {
      .player {
        .player-line {
          margin: 25px 0;
        }
        .box-btn {
          .btn {
            font-size: 14px;
            width: 100%;
          }
        }
      }
    }
    .icon-vk {
      width: 20px;
      height: 18px;
    }
    .icon-facebook {
      width: 16px;
      height: 18px;
    }
    &.section-stage-web {
      .box-mapala {
        .box-mapala-info {
          display: block;
          padding-left: 15px;
          padding-right: 15px;
          > div {
            width: 100%;
          }
          .box-logo {
            padding-bottom: 15px;
            .box-img {
              max-width: 63%;
            }
          }
          .box-text-info .text {
            font-size: 14px;
          }
        }
      }
    }
    &.section-distribution {
      &:after {
        top: -80px;
        background-size: cover;
        background-position: 0;
        background-repeat: no-repeat;
        background-image: none;
        background: #040a52;
        height: 101.5%;
      }
      .box-distribution-step {
        display: block;
        padding-bottom: 40px;

        .box-step {
          min-height: 170px;
          padding-bottom: 15px;
          .box-icon {
            height: 80px;
          }
          .name {
            font-size: 14px;
            line-height: 10px;
          }
          .text {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }
      .box-chart-line {
        padding: 10px 0 35px;
        max-width: 760px;
        margin: 0 auto;
        .box-img {
          //margin-top: -17%;
          //margin-bottom: -30%;
          //width: 100%;
          //margin-left: auto;
          //max-width: 320px;
          //margin-right: auto;
          display: block;
          white-space: nowrap;
          width: 100%;
          overflow-y: hidden;
          overflow-x: auto;
          -webkit-overflow-scrolling: touch;
          padding: 20px 0;
          img {
            max-width: 760px;
          }
        }
      }
      .text-distribution {
        &.date-distribution {
          padding-bottom: 65px;
        }
      }
      .box-chart-token {
        display: block;
        > div {
          width: 100%;
          padding: 0;
        }
        .box-sum {
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: stretch;
          .item-sum {
            width: 48%;
            text-align: left;
            .name, .text {
              font-size: 14px;
              padding-bottom: 4px;
            }
          }
        }
        .box-chart {
          margin: auto;
          width: 290px;
          height: 290px;
        }
        .box-chart-info {
          padding-top: 20px;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          align-content: stretch;
          .item-chart {
            width: 48%;
            .title,
            .text {
              font-size: 14px;
            }
            .text {
              padding-top: 4px;
            }
          }
        }
      }
    }
    &.section-roadmap {
      &:after {
        display: none;
      }
      .text-roadmap {
        text-align: center;
        margin-bottom: 40px;
      }
      .box-roadmap {
        display: block;
        .box-item-roadmap {
          width: 100%;
          padding-bottom: 30px;
          height: auto;
          .box-head {
            padding-bottom: 12px;
            display: flex;
            .box-number {
              font-size: 14px;
              width: 30px;
              height: 30px;
              line-height: 30px;
              box-shadow: none;
              margin-top: 0;
              margin-bottom: 0;
              margin-right: 15px;
              display: inline-block;
              vertical-align: top;
            }
            .box-name {
              font-size: 14px;
              color: #515582;
            }
          }
          .box-body {
            padding-left: 45px;
            &.box-body-last {
              padding-left: 0;
            }
            .name-date, .text {
              font-size: 14px;
              padding-bottom: 0;
            }

          }
          .box-stages{
            a{
              text-align: left!important;
              padding-left: 45px;
            }
          }
        }
      }
    }
    &.section-commands {
      &:after {
        display: none;
      }
      &:before {
        display: none;
      }
      .text-commands {
        text-align: left !important;
        margin: 0;
        max-width: none;
      }
      .block-commands {
        .block-accordion {
          .box-accordion-head {
            display: block;
            margin-top: 40px;
            .item-accordion {
              width: 100%;
              padding-bottom: 25px;
              .box-info {
                text-align: left;
              }
              .box-img {
                max-width: 125px;
                float: left;
                margin-bottom: 0;
                min-height: inherit;
                .box-icon {
                  width: 35px;
                  height: 35px;
                  border-radius: 50%;
                  text-align: center;
                  position: absolute;
                  bottom: -10px;
                  left: 65%;
                  margin-left: 0;
                  padding: 8px 0;
                  .icon-in {
                    width: 16px;
                    height: 15px;
                  }
                }
              }
              .box-name {
                max-width: 69%;
                width: 100%;
                padding-left: 15px;
                float: left;
                text-align: left;
                font-size: 16px;
                padding-top: 30px;
              }
              .box-qualification {
                max-width: 69%;
                width: 100%;
                text-align: left;
                padding-left: 15px;
                float: left;
                font-size: 14px;
              }
              .box-info {
                text-align: left;
                padding-top: 155px;
                font-size: 14px;
              }
            }
          }
          .box-accordion-body {
            padding-top: 30px;
            padding-bottom: 30px;
            flex-direction: row;
            flex-wrap: wrap;
            align-content: stretch;
            .item-accordion {
              width: 100%;
              max-width: 100%;
              display: -webkit-flex;
              display: flex;
              -webkit-flex-direction: row;
              flex-direction: row;
              -webkit-justify-content: flex-start;
              justify-content: flex-start;
              align-items: center;
              -webkit-align-items: center;
              padding-bottom: 0;

              .box-img {
                margin-left: 0;
                margin-right: 0;
                margin-bottom: 20px;
                width: 100%;
                max-width: 90px;
                .box-icon {
                  width: 35px;
                  height: 35px;
                  bottom: -7px;
                  left: 59%;
                  padding: 6px 0;
                  margin-left: 0;
                  .icon-in {
                    width: 16px;
                    height: 15px;
                  }
                }
                img {
                  width: 90px;
                  height: 90px;
                  display: block;
                  max-width: inherit;
                }
              }
              .content {
                padding-left: 15px;
                text-align: left;
                .box-name {
                  font-size: 16px;
                }
                .box-qualification {
                  font-size: 14px;
                }
              }
            }
          }
          .box-btn {
            padding-top: 0;
            padding-bottom: 30px;
          }
        }
      }
    }
    &.section-activity {
      .section-text {
        text-align: left !important;
        margin: 0;
        max-width: none;
      }
      .activity-tabs {
        .tab-block {
          .nav-tabs {
            li {
              width: 100%;
              a {
                margin: 2px 0;
                display: block;
                width: 100%;
                line-height: 16px;
                font-size: 14px;
              }
              + li {
                margin-left: 0;
              }
            }
          }
        }
      }
    }
    &.section-question {
      padding-top: 60px;
      .section-text {
        padding: 0;
        .name-block {
          &:after {
            display: none;
          }
          margin-bottom: 0;
          padding-bottom: 15px;
          font-size: 19px;
        }
      }
      .question-list {
        .question-item {
          padding: 7px 0;
          .name {
            font-size: 14px;
            line-height: 18px;
          }
        }
      }
    }
    &.section-start {
      .name-block{
        font-size: 18px;
      }
      .timer {
        margin-top: 20px;
        margin-bottom: 30px;
        &.lg {
          .value {
            font-size: 36px;
            line-height: 44px;

            .number {
              padding: 0 7px;
              min-width: 52px;
              + .number {
                margin-left: 5px;
              }
            }
          }
          .title {
            min-width: 67px;
          }
        }
      }
      .form-subs {
        margin-top: 20px;
        .text-info {
          font-size: 12px;
        }

      }
      &:before {
        height: 1041px;
      }
    }
    &.section-benefit-new {
      .box-section {
        padding-top: 25px;
        .name-section {
          font-size: 20px;
          padding-bottom: 15px;
        }
        .block-journey {
          display: block;
          .box-journey {
            padding-bottom: 15px;
            width: 100%;
            .box-img{
              height: auto;
            }
            .box-img .box-blue {
              width: 110px;
              height: 110px;
              line-height: 110px;
            }
            .box-info {
              padding-left: 0;
              .box-name {
                padding-top: 20px;
                font-size: 20px;
                font-weight: bold;
                br {
                  display: none;
                }
              }
              .box-text {
                font-size: 14px;
                line-height: 20px;
                padding-top: 10px;
              }
            }
          }
        }
        .block-business {
          display: block;
          .box-business {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: stretch;
            padding-left: 0;
            padding-right: 0;
            padding-bottom: 15px;
            .box-icon {
              height: 90px;
              width: 90px;
              display: inline-block;
            }
            .text {
              color: #515582;
              font-size: 14px;
              line-height: 24px;
              width: 100%;
              text-align: left;
              padding-left: 16px;
            }
          }
        }
      }
    }
  }
  .form-subs {
    .form-control {
      &-input {
        padding-left: 30px;
      }
    }
    .clear {
      &.box-btn {
        .btn-lg {
          font-size: 0;
          padding: 28px;
        }
        &:after {
          content: '';
          position: absolute;
          display: block;
          width: 20px;
          height: 20px;
          top: 50%;
          left: 50%;
          z-index: 11;
          margin-top: -10px;
          background-image: url(../images/air-white.png);
          margin-left: -10px;
        }
      }
    }
  }
  footer {
    padding: 75px 0 36px;
    .between {
      text-align: center;
      .logo {
        width: 100%;
        margin-top: 0;
        margin-bottom: 18px;
      }
      .copy {
        width: 100%;
        .link {
          display: block;
          margin-left: 0;
          padding-top: 4px;
        }
      }
    }
  }
  .modal {
    .modal-dialog {
      max-width: 100%;
      margin: 80px 25px 25px;
      &.box-register {
        max-width: 100%;
        padding: 20px 10px;
      }
      .modal-header {
        .form-subs {
          max-width: 100%;
          .box-control {
            margin: 0 0 15px;
            .form-control {
              padding-left: 58px;
              padding-right: 30px;
            }
          }
        }
      }
    }
    &.fade .modal-dialog {
      -webkit-transform: translate(0, -25%);
      -ms-transform: translate(0, -25%);
      -o-transform: translate(0, -25%);
      transform: translate(0, -25%);
      top: 0;
    }
    &.in .modal-dialog {
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
  .data-cloud-item{
    position: absolute;
    left: -5000px;
  }
  .box-scrolling{
    bottom: 65px;
  }
  .thanks {
    header{
      background: #10176f;
    }
    .name-block {
      font-size: 28px;
      padding-top: 50px;
      padding-bottom: 30px;
    }
    p, ul li {
      font-size: 16px;
      margin-bottom: 0.75em;
    }
  }
  .slick-next, .slick-prev {
    width: 40px;
    height: 40px;
    margin-top: -20px;
  }
  .section .text.text-bold {
    font-size: 20px!important;
  }
  .section-benefit-new {
    .box-section {
      .box-lesson {
        .lesson {
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }
}

@media(max-width: 520px) {
  .section.section-commands .block-commands .block-accordion .box-accordion-head .item-accordion .box-img {
    max-width: 30%;
  }
  .wrapper {
    background: url(../images/bg1.svg) no-repeat 53% -2%;
  }
  .section.section-commands .block-commands .block-accordion .box-accordion-body .item-accordion {
    max-width: 100%;
  }
  .section-benefit-new {
    .box-section {
      .box-lesson {
        display: block;
        .lesson {
          width: 100%;
          padding: 20px 20px;
          &.lesson-left {
            &:after {
              display: none;
            }
            &:before {
              content: '';
              width: 0;
              height: 0;
              position: absolute;
              left: 50%;
              top: 100%;
              margin-left: -60px;
              border-left: 60px solid transparent;
              border-right: 60px solid transparent;
              border-top: 13px solid #14195d;;
            }
          }
        }
      }
      .box-flip {
        padding-top: 30px;
        margin-left: -15px;
        margin-right: -15px;
        .flipster {
          .flip-item {
            width: 290px;
            height: 200px;
            .box-info {
              padding: 20px 10px 10px;
              .box-info-name {
                font-size: 15px;
                line-height: 20px;
                padding-bottom: 10px;
              }
              .box-info-text {
                font-size: 13px;
                line-height: 20px;
              }
            }
          }
        }
      }
    }
  }
  .wrapper:after {
    height: 980px;
  }
  .btn-review {
    padding-right: 65px;
    .box-icon{
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -18px;
    }
  }
  .section-activity .block-presentation ul li {
    margin-bottom: 0!important;
  }
}