.modal{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  &-open{
    overflow: hidden;
    .modal {
      overflow-x: hidden;
      overflow-y: auto;
    }
    header{
      padding-right: inherit;
    }
  }
  &-dialog {
    position: relative;
    width: auto;
    margin: 10px;
  }
  &-content {
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 6px;
    outline: 0;
    color: $color_white;
  }
  &-header{
    .text{
      font-size: 16px;
      margin-bottom: 20px;
    }
  }
  &-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(65,72,100,1);
    &.fade {
      filter: alpha(opacity=0);
      opacity: 0;
    }
    &.in {
      filter: alpha(opacity=50);
      opacity: .5;
    }
  }
  &-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
  }
  &-dialog{
    max-width: 730px;
    position: relative;
    margin: 0 auto;
    &.box-register{
      max-width: 550px;
      background: #3456bf;
      padding: 20px;
      border-radius: 15px;
      .name{
        font-size: 34px;
        color: $color_white;
        padding-bottom: 12px;
      }
      .form-subs{
        .box-btn{
          position: relative;
          top:inherit;
          right: inherit;
          .btn{
            width: 100%;
          }
        }
        .text-info{
          color: $color_white;
          font-size: 12px;
          opacity: 0.5;
          margin-top: 15px;
        }
      }
    }
  }
  &.fade .modal-dialog {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition:      -o-transform .3s ease-out;
    transition:         transform .3s ease-out;
    -webkit-transform: translate(0, -200%);
    -ms-transform: translate(0, -200%);
    -o-transform: translate(0, -200%);
    transform: translate(0, -200%);
    top:50%;
  }
  &.in .modal-dialog {
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .modal-dialog .modal-content{
    .modal-header{
      .box-video{
        overflow: hidden;
        iframe{
          width: 100%;
        }
      }
      .close{
        cursor: pointer;
        position: absolute;
        right: -20px;
        top: -20px;
        opacity: 1;
        outline: none !important;
        text-align: center;
        width: 45px;
        height: 45px;
        z-index: 100;
        line-height: 45px;
        display: block;
        border-radius: 50%;
        background: #155afd;
        -webkit-box-shadow: 0 6px 25px rgba(12, 0, 255, 0.6);
        -moz-box-shadow: 0 6px 25px rgba(12, 0, 255, 0.6);
        box-shadow: 0 6px 25px rgba(12, 0, 255, 0.6);
        &:hover{
          box-shadow: none;
        }
      }
    }
  }
}