<section class="section section-activity">
  <div class="container">
    <div class="section-text text-sm text-center">
      <div class="name-block" data-aos="fade-up">Наша активность</div>
      <div class="block-text" data-aos="fade-up" data-aos-delay="100">Мы открыто делимся наработками с рынком
        и всегда готовы к обратной связи
      </div>
    </div>
    <div class="activity-tabs" data-aos="zoom-in-down" data-aos-delay="100">
      <div class="tab-block">
        <ul class="nav-tabs" role="tablist">
          <li role="presentation"><a class="btn" href="#speech" aria-controls="speech" role="tab"
                                     data-toggle="tab"><span class="name">Выступления</span></a></li>
          <li role="presentation" class="active"><a class="btn" href="#blog" aria-controls="blog" role="tab"
                                                    data-toggle="tab"><span class="name">Live блог</span></a>
          </li>
          <li role="presentation"><a class="btn" href="#smi" aria-controls="smi" role="tab" data-toggle="tab"><span
              class="name">Публикации в СМИ</span></a></li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane fade" id="speech">
            <div class="block-text text-center block-flex-top block-presentation">
              <ul class="point box-inline text-left">
                <li><a target="_blank"
                       href="https://golos.io/travelchain/@travelchain/travelchain-idyot-v-offlain-obzor-meropriyatii">EPIC
                  FAIL в ICO <b>(5.10.2017)</b></a></li>
                <li><a target="_blank"
                       href="https://golos.io/travelchain/@travelchain/travelchain-idyot-v-offlain-obzor-meropriyatii">Бизнес-среда<b>(11.10.2017)</b></a>
                </li>
                <li><a target="_blank"
                       href="https://golos.io/travelchain/@travelchain/travelchain-idyot-v-offlain-obzor-meropriyatii">International
                  Blockchain Forum <b>(12.10.2017)</b></a></li>
                <li><a target="_blank"
                       href="https://golos.io/travelchain/@travelchain/travelchain-idyot-v-offlain-obzor-meropriyatii">300 стартапов <b>(18.10.2017)</b></a></li>
                <li><a target="_blank"
                       href="https://golos.io/travelchain/@travelchain/travelchain-offlain-khroniki-moskva-online-travel-3-0-dubai-world-blockchain-summit-den-2">Online.Travel
                  3.0 <b>(24-25.10.2017)</b></a></li>
                <li><a target="_blank"
                       href="https://golos.io/travelchain/@travelchain/travelchain-offlain-khroniki-dubai-world-blockchain-summit-itogi-ocenki-perspektivy">World
                  Blockchain Summit <b>(24-25.10.2017)</b></a></li>
                <li><a target="_blank"
                       href="https://golos.io/travelchain/@travelchain/travelchain-offlain-khroniki-moskva-russian-blockchain-week">
                  Russian Blockchain Week<b>(26-28.10.2017)</b></a></li>
              </ul>
              <ul class="point box-inline text-left">
                <li><a target="_blank"
                       href="https://golos.io/travelchain/@travelchain/travelchain-offlain-khroniki-dubai-world-blockchain-summit-itogi-ocenki-perspektivy">ICO
                  Battle <b>(1.11.2017)</b></a></li>

                <li><a target="_blank" href="http://www.fintechfestival.sg">Singapore FinTech Festiva
                  <b>(13-17.11.2017)</b></a></li>
                <li><a target="_blank" href="http://blockchainconfex.com/">Blockchain confex <b>(22-23.11.2017)</b></a>
                </li>
                <li><a target="_blank" href="https://blockshowasia.com">Blockshow Asiа <b>(29-30.11.2017)</b></a></li>
                <li><a target="_blank" href="https://blockchainworldconferences.com/">Blockchain World Conferences <b>(4.12.2017)</b></a>
                </li>
                <li><a target="_blank" href="https://techcrunch.com/event-info/disrupt-berlin-2017/">Tech Crunch Berlin
                  2017 <b>(4-5.12.2017)</b></a></li>
                <li><a target="_blank" href="https://bconference.org/">Blockchain Conference Abu Dhabi
                  <b>(7.12.2017)</b></a></li>
              </ul>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade in active" id="blog">
            <div class="slide-activity">
              <div class="slide">
                <div class="activity-video">
                  <div class="video">
                    <a class="btn btn-play" data-width="100%" data-height="300"
                       data-iframe="https://www.youtube.com/embed/IWDnqwRVRvg"><i
                        class="icon icon-play"></i></a>
                    <div class="video-image"
                         style="background-image: url('https://img.youtube.com/vi/IWDnqwRVRvg/0.jpg')"></div>
                    <div class="video-iframe"></div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="activity-video">
                  <div class="video">
                    <a class="btn btn-play" data-width="100%" data-height="300"
                       data-iframe="https://www.youtube.com/embed/rOVodrJEV5c"><i
                        class="icon icon-play"></i></a>
                    <div class="video-image"
                         style="background-image: url('https://img.youtube.com/vi/rOVodrJEV5c/0.jpg')"></div>
                    <div class="video-iframe"></div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="activity-video">
                  <div class="video">
                    <a class="btn btn-play" data-width="100%" data-height="300"
                       data-iframe="https://www.youtube.com/embed/i2PLDv5tOpg"><i
                        class="icon icon-play"></i></a>
                    <div class="video-image"
                         style="background-image: url('https://img.youtube.com/vi/i2PLDv5tOpg/0.jpg')"></div>
                    <div class="video-iframe"></div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="activity-video">
                  <div class="video">
                    <a class="btn btn-play" data-width="100%" data-height="300"
                       data-iframe="https://www.youtube.com/embed/pR5zPQlf8r4"><i
                        class="icon icon-play"></i></a>
                    <div class="video-image"
                         style="background-image: url('https://img.youtube.com/vi/pR5zPQlf8r4/0.jpg')"></div>
                    <div class="video-iframe"></div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="activity-video">
                  <div class="video">
                    <a class="btn btn-play" data-width="100%" data-height="300"
                       data-iframe="https://www.youtube.com/embed/TsyOD_lx0Ss"><i
                        class="icon icon-play"></i></a>
                    <div class="video-image"
                         style="background-image: url('https://img.youtube.com/vi/TsyOD_lx0Ss/0.jpg')"></div>
                    <div class="video-iframe"></div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="activity-video">
                  <div class="video">
                    <a class="btn btn-play" data-width="100%" data-height="300"
                       data-iframe="https://www.youtube.com/embed/63gsuFGZlhY"><i
                        class="icon icon-play"></i></a>
                    <div class="video-image"
                         style="background-image: url('https://img.youtube.com/vi/63gsuFGZlhY/0.jpg')"></div>
                    <div class="video-iframe"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="smi">
            <div class="slide-article">
              <div class="slide">
                <div class="activity-article">
                  <div class="activity-article-body">
                    <div class="image">
                      <img src="https://upload.wikimedia.org/wikipedia/commons/e/ea/Vc.ru-logo.png"
                           alt="">
                    </div>
                    <div class="quote">
                      Чек-лист для проектов, выходящих на TOKEN SALE – на примере инновационного
                      стартапа
                    </div>
                    <div class="box-link">
                      <a href="https://vc.ru/29343-put-k-ico-ot-blog-platformy-k-blokcheyn-proektu-test-po-alekseyu-krolu"
                         target="_blank" class="link link-blue">Читать</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="activity-article">
                  <div class="activity-article-body">
                    <div class="image">
                      <img src="https://static.tildacdn.com/tild3633-3530-4530-b436-666362636466/Bitjournal.png" alt="">
                    </div>
                    <div class="quote">
                      Почему блокчейн-технологии изменят отношение к туризму навсегда?
                    </div>
                    <div class="box-link">
                      <a href="https://bitjournal.media/2017-11-20/blokchejn_v_sfere_turizma"
                         target="_blank" class="link link-blue">Читать</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="activity-article">
                  <div class="activity-article-body">
                    <div class="image">
                      <img src="https://imgp.golos.io/0x0/https://i.imgsafe.org/ecf6983fb7.png"
                           alt="">
                    </div>
                    <div class="quote">
                      Dubai World BlockChain Summit - итоги, оценки, перспективы
                    </div>
                    <div class="box-link">
                      <a href="https://golos.io/travelchain/@travelchain/travelchain-offlain-khroniki-dubai-world-blockchain-summit-itogi-ocenki-perspektivy"
                         target="_blank" class="link link-blue">Читать</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="activity-article">
                  <div class="activity-article-body">
                    <div class="image">
                      <img src="https://imgp.golos.io/0x0/https://i.imgsafe.org/ecf6983fb7.png"
                           alt="">
                    </div>
                    <div class="quote">
                      Блокчейн-проект на Graphene 2.0 победил в TOKEN SALE Battle!
                    </div>
                    <div class="box-link">
                      <a href="https://golos.io/travelchain/@travelchain/travelchain-offlain-khroniki-blokchein-proekt-na-graphene-2-0-pobedil-v-ico-battle"
                         target="_blank" class="link link-blue">Читать</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="activity-article">
                  <div class="activity-article-body">
                    <div class="image">
                      <img
                          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT_yv_4Y2T8ktcwhT9YaFmTgwaiN3iLDZbrMbF4FkdLgEKyDHprIg"
                          alt="">
                    </div>
                    <div class="quote">
                      LIST YOUR ICO
                    </div>
                    <div class="box-link">
                      <a href="https://icodaily.net/ico-listing-registration/"
                         target="_blank" class="link link-blue">Читать</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="activity-article">
                  <div class="activity-article-body">
                    <div class="image">
                      <img src="https://cpeda.space/local/templates/socnet/img/logo.png"
                           alt="">
                    </div>
                    <div class="quote">
                      [TRAVELCHAIN ОФФЛАЙН-ХРОНИКИ] МОСКВА - RUSSIAN BLOCKCHAIN WEEK
                    </div>
                    <div class="box-link">
                      <a href="https://cpeda.space/socnet/post/6369/"
                         target="_blank" class="link link-blue">Читать</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="activity-article">
                  <div class="activity-article-body">
                    <div class="image">
                      <img src="https://s3-us-west-1.amazonaws.com/cr-rackspace-cloud-files-backups/Prod_Large/user_photo5900c7d7b1bea.jpg"
                           alt="">
                    </div>
                    <div class="quote">
                      How to Get Rewarded For Sharing Your Data The RIGHT Way
                    </div>
                    <div class="box-link">
                      <a href="https://www.huffingtonpost.com/entry/how-to-get-rewarded-for-sharing-your-data-the-right_us_5a1e3c04e4b0e9a1b9c7b4f8"
                         target="_blank" class="link link-blue">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="activity-article">
                  <div class="activity-article-body">
                    <div class="image">
                      <img src="/images/insident.jpg"
                           alt="">
                    </div>
                    <div class="quote">
                      TravelChain Is Trying To Shake Up The Dated And Duopolized Travel Industry
                    </div>
                    <div class="box-link">
                      <a href="https://insiderfinancial.com/travelchain-is-trying-to-shake-up-the-dated-and-duopolized-travel-industry/173937/"
                         target="_blank" class="link link-blue">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="activity-article">
                  <div class="activity-article-body">
                    <div class="image">
                      <img src="https://news.finance.co.uk/wp-content/uploads/2017/08/newsbtc.png"
                           alt="">
                    </div>
                    <div class="quote">
                      TravelChain Launches World’s First Decentralized Data Exchange For the
                      Travel Industry
                    </div>
                    <div class="box-link">
                      <a href="http://www.newsbtc.com/2017/11/26/travelchain-launches-worlds-first-decentralized-data-exchange-travel-industry/"
                         target="_blank" class="link link-blue">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="slide">
                <div class="activity-article">
                  <div class="activity-article-body">
                    <div class="image">
                      <img src="https://3bjir821uqix1xdupc2ey86g-wpengine.netdna-ssl.com/wp-content/uploads/2016/10/cryptocoinsnews-vector-kopi-1-1.png"
                           alt="">
                    </div>
                    <div class="quote">
                      TravelChain Launches World’s First Decentralized Data Exchange for the Travel Industry
                    </div>
                    <div class="box-link">
                      <a href="https://www.cryptocoinsnews.com/travelchain-launches-worlds-first-decentralized-data-exchange-travel-industry/"
                         target="_blank" class="link link-blue">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>