<section class="section section-commands">
    <div class="container padding-block">
        <div class="text-commands text-center">
            <div class="name-block" data-aos="fade-up">Команда TravelChain</div>
            <div class="block-text" data-aos="fade-up" data-aos-delay="50">Команда насчитывает 24 специалиста своего
                дела, познакомьтесь с лидерами:
            </div>
        </div>
        <div class="block-commands">
            <div class="block-accordion">
                <div class="box-accordion-head block-flex-top">
                    <div class="item-accordion " data-aos="fade-up" data-aos-delay="200">
                        <div class="box-img">
                            <img class="lazyload" src="/images/orlov.png" alt="">
                            <a href="https://www.linkedin.com/in/ilya-orlov-0123ba80" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="box-name">Илья Орлов</div>
                        <div class="box-qualification">CEO/Co-Founder</div>
                        <div class="box-info">Ответственен за корпоративное управление и стратегический менеджмент.
                            Богатый
                            управленческий опыт в маленьких и крупных предприятиях с численностью персонала в подчинении
                            до 450
                            человек
                        </div>
                    </div>
                    <div class="item-accordion " data-aos="fade-up" data-aos-delay="400">
                        <div class="box-img">
                            <img class="lazyload" src="/images/muraviev.png" alt="">
							<a href="https://www.linkedin.com/in/alex-ant-89b664154/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="box-name">Алексей Mуравьев</div>
                        <div class="box-qualification">Architect/Co-Founder</div>
                        <div class="box-info">Блокчейн-эксперт и программист - исследователь. Магистр физики
                            наноматериалов и
                            оптоэлектроники. ТОП-делегат блокчейна Голос.
                        </div>
                    </div>
                    <div class="item-accordion " data-aos="fade-up" data-aos-delay="600">
                        <div class="box-img">
                            <img class="lazyload" src="/images/coloviev.png" alt="">
                            <a href="https://www.linkedin.com/in/aleksey-soloviev-a8147727/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="box-name">Алексей Соловьев</div>
                        <div class="box-qualification">COO/Co-Founder</div>
                        <div class="box-info">Серийный предприниматель с опытом более 15 лет в различных сферах:
                            торговле, сфере
                            услуг, строительстве. ТОП-делегат блокчейна Голос.
                        </div>
                    </div>
                </div>
                <div class="box-btn text-center" data-aos="zoom-out-up">
                    <a class="btn all-commands btn-border-blue">Вся команда</a>
                </div>
                <div class="box-accordion-body accordion-body-toggle">

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/orhan.png" alt="">
                            <a href="https://www.linkedin.com/in/orkhanzeynaloff/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Орхан Зейналлы</div>
                            <div class="box-qualification">CTO</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/kolonin.png" alt="">
                            <a href="https://www.facebook.com/akolonin" target="_blank" class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-facebook"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Антон Колонин</div>
                            <div class="box-qualification">AI, BigData Expert</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/anikin.jpg" alt="">
                            <a href="https://www.facebook.com/yury.anikin" target="_blank" class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-facebook"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Юрий Аникин</div>
                            <div class="box-qualification">Ontology Analyst</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/pasha.png" alt="">
                            <a href="http://facebook.com/dorozhkin.pavel.9" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-facebook"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Павел Дорожкин</div>
                            <div class="box-qualification">Team Lead, Back-end
                                Developer
                            </div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/bogomolov.png" alt="">
                            <a href="https://www.linkedin.com/in/artem-bogomolov-564018137/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Артем Богомолов</div>
                            <div class="box-qualification">Front-end Developer</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/zurab.png" alt="">
                            <a href="https://www.linkedin.com/in/zurabpwnz/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Зураб Шиварбидзе</div>
                            <div class="box-qualification">Front-end Developer</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/sabina.jpg" alt="">
							<a href="https://www.linkedin.com/in/sabina-gurbanova-7497b5154/" target="_blank" class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Сабина Гурбанова</div>
                            <div class="box-qualification">UX/UI Designer</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/chanchikov.png" alt="">
                            <a href="https://www.linkedin.com/in/konstantin-chanchikov-3ba5a4154/" target="_blank" class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Константин Чанчиков</div>
                            <div class="box-qualification">System Architect</div>
                        </div>
                    </div>

                    <div class="item-accordion " data-aos="fade-left" data-aos-delay="650">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/larin.png" alt="">
                            <a href="https://www.youtube.com/user/larinshow" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-youtube"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Дмитрий Ларин</div>
                            <div class="box-qualification">PR-advisor, <br>
                                YouTube Blogger < 2kk subscribers
                            </div>
                        </div>
                    </div>

                    <div class="item-accordion " data-aos="fade-left" data-aos-delay="650">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/polevich.jpg" alt="">
                            <a href="https://www.linkedin.com/in/антон-полевич-388027123/" target="_blank" class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Антон Полевич</div>
                            <div class="box-qualification">Producer</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/uvarov.png" alt="">
                            <a href="https://www.facebook.com/max.uvarov.756" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-facebook"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Максим Уваров</div>
                            <div class="box-qualification">Digital Producer</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/petrov.png" alt="">
                            <a href="https://www.linkedin.com/in/alexandr-petrov-024a2179/" target="_blank" class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Александр Петров</div>
                            <div class="box-qualification">Marketing Manager</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/sezemov.png" alt="">
                            <a href="https://www.linkedin.com/in/sezemov/" target="_blank" class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Михаил Сезёмов</div>
                            <div class="box-qualification">Marketing Manager</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/baranova.png" alt="">
                            <a href="https://www.linkedin.com/in/vlrbaranova/" target="_blank" class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Валерия Баранова</div>
                            <div class="box-qualification">Head of SMM</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/ufaev.png" alt="">
                            <a href="https://www.linkedin.com/in/roman-ufaev-454233151/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Роман Уфаев</div>
                            <div class="box-qualification">Head of Media Integration and Traffic</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/seleznev.png" alt="">
                            <a href="http://www.linkedin.com/in/dmitrycom/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Дмитрий Селезнев</div>
                            <div class="box-qualification">Graphic Designer</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/begunov.png" alt="">
                            <a href="https://www.linkedin.com/in/ivan-begunov-387734103/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Иван Бегунов</div>
                            <div class="box-qualification">Chief Business Development Officer</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/lagutin.png" alt="">
                            <a href="https://www.facebook.com/dmitriy.lagutin.5" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-facebook"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Дмитрий Лагутин</div>
                            <div class="box-qualification">Investor Relations</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/logvin.png" alt="">
                            <a href="https://www.linkedin.com/in/sergei-logvin-2914bb52" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Сергей Логвин</div>
                            <div class="box-qualification">HR Manager</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/dima-kin.png" alt="">
                            <a href="https://www.facebook.com/profile.php?id=100001654368700" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-facebook"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Дмитрий Кин</div>
                            <div class="box-qualification">Lead Editor</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/vlasova.png" alt="">
                            <a href="https://www.facebook.com/kireenkokate" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-facebook"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Екатерина Власова</div>
                            <div class="box-qualification">Copywriter</div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/asia.png" alt="">
                            <a href="https://www.linkedin.com/in/anastasia-razmakhnina-208742154/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Анастасия Размахнина</div>
                            <div class="box-qualification">Head of Community
                                Management
                            </div>
                        </div>
                    </div>

                    <div class="item-accordion ">
                        <div class="box-img">
                            <img class="lazyload" src="/images/team/matveev-tim.png" alt="">
                            <a href="https://www.linkedin.com/in/timofey-matveev-4a4415151/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Тимофей Матвеев</div>
                            <div class="box-qualification">Community Manager</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="text-commands text-center">
            <div class="name-block" data-aos="fade-up">Консультанты по развитию</div>

        </div>
        <div class="block-commands">
            <div class="block-accordion">
                <div class="box-accordion-body">
                    <div class="item-accordion " data-aos="fade-left" data-aos-delay="50">
                        <div class="box-img">
                            <img class="lazyload" src="/images/advisers/Marshal.png" alt="">
                            <a href="http://www.linkedin.com/in/desmondmarshall/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Десмонд Маршалл
                            </div>
                            <div class="box-qualification">Member of global Enterprise Ethereum Alliance,
                                Advisor of Trade and Industry Department to Hong Kong Government,
                                MD of Rouge Ventures
                            </div>
                        </div>
                    </div>
                    <div class="item-accordion " data-aos="fade-left" data-aos-delay="150">
                        <div class="box-img">
                            <img class="lazyload" src="/images/advisers/vincent.jpg" alt="">
                            <a href="http://www.linkedin.com/in/desmondmarshall/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Винсент Лаи
                            </div>
                            <div class="box-qualification">Founder/CEO of ToccoTravel</div>
                        </div>
                    </div>


                    <div class="item-accordion " data-aos="fade-left" data-aos-delay="350">
                        <div class="box-img">
                            <img class="lazyload" src="/images/advisers/turskiy.png" alt="">
                            <a href="https://www.linkedin.com/in/alex-tourski-1b81022/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Алекс Турский</div>
                            <div class="box-qualification">Founder/CEO of izi.travel</div>
                        </div>
                    </div>
                    <div class="item-accordion " data-aos="fade-left" data-aos-delay="550">
                        <div class="box-img">
                            <img class="lazyload" src="/images/advisers/machihin.png" alt="">
                            <a href="https://www.linkedin.com/in/dmitry-machikhin-56282a77/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Дмитрий Мачихин</div>
                            <div class="box-qualification">Partner GMT Legal</div>
                        </div>
                    </div>
                    <div class="item-accordion " data-aos="fade-left" data-aos-delay="650">
                        <div class="box-img">
                            <img class="lazyload" src="/images/advisers/povolotskiy.png" alt="">
                            <a href="https://m.facebook.com/roman.povolotski" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-facebook"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Роман Поволоцкий
                            </div>
                            <div class="box-qualification">Founder/CEO of “Cyber Russia”</div>
                        </div>
                    </div>
                    <div class="item-accordion " data-aos="fade-left" data-aos-delay="750">
                        <div class="box-img">
                            <img class="lazyload" src="/images/advisers/dzhamgaryan.png" alt="">
                            <a href="https://www.linkedin.com/in/eduard-dzhamgaryan-a0719351/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Эдуард Джамгарян</div>
                            <div class="box-qualification">CBDO ICObox, TOKEN SALE Analyst/Adviser</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-commands text-center">
            <div class="name-block" data-aos="fade-up">Консультанты по маркетингу</div>
        </div>
        <div class="block-commands">
            <div class="block-accordion">
                <div class="box-accordion-body">

                    <div class="item-accordion " data-aos="fade-left" data-aos-delay="50">
                        <div class="box-img">
                            <img class="lazyload" src="/images/advisers/karolik.jpg" alt="">
                            <a href="https://www.linkedin.com/in/alexander-karolik-shlaen-764374/" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Александр Каролик-Шлейн</div>
                            <div class="box-qualification">Founder of Panache Managment Pte Ltd; Is on board of public
                                company traded on SGX (SinoCloud); Holds an Executive MBA from Kellogg School of
                                Management and Hong Kong University of Science and Technology.
                            </div>
                        </div>
                    </div>

                    <div class="item-accordion " data-aos="fade-left" data-aos-delay="350">
                        <div class="box-img">
                            <img class="lazyload" src="/images/advisers/simonovsky.png" alt="">
                            <a href="https://www.linkedin.com/in/tonysimonovsky/ " target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-in"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Тони Симоновский</div>
                            <div class="box-qualification">Marketing data scientist, Token Sale focused growth hacker
                            </div>
                        </div>
                    </div>

                    <div class="item-accordion " data-aos="fade-left" data-aos-delay="450">
                        <div class="box-img">
                            <img class="lazyload" src="/images/advisers/matveev.png" alt="">
                            <a href="https://facebook.com/profile.php?id=100003281332645" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-facebook"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Юрий Матвеев</div>
                            <div class="box-qualification">Founder/CEO of the "Banzay" and "National Business"
                                magazines
                            </div>
                        </div>
                    </div>

                    <div class="item-accordion " data-aos="fade-left" data-aos-delay="550">
                        <div class="box-img">
                            <img class="lazyload" src="/images/advisers/sokolovskiy.png" alt="">
                            <a href="https://www.youtube.com/channel/UCyGPa4_EYA1OiBNjf6IeF6A" target="_blank"
                               class="btn btn-red box-icon">
                                <i class="icon icon-middle icon-youtube"></i>
                            </a>
                        </div>
                        <div class="content">
                            <div class="box-name">Руслан Соколовский</div>
                            <div class="box-qualification">Founder/CEO of the magazine "BitJournal",
                                YouTube Blogger < 500k subscribers
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>