<section class="section section-roadmap">
    <div class="container">
        <div class="text-roadmap padding-block">
            <div class="name-block" data-aos="fade-right">Roadmap проекта</div>
        </div>
        <div class="box-roadmap block-flex-center">
            <div class="box-item-roadmap" data-aos="fade-left" data-aos-delay="200" data-aos-duration="800">
                <div class="box-head">
                    <div class="box-number">1</div>
                    <div class="box-name">
                        TOKEN SALE
                    </div>
                </div>
                <div class="box-body">
                    <div class="name-date">Декабрь 2017</div>
                    <div class="text">Цель: привлечь до $10.000.000 на разработку и развитие TravelChain</div>
                </div>
                <div class="box-stages">
                    <div class="dropdown">
                        <a class=" btn-secondary dropdown-toggle" type="button" id="stages1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Этапы
                        </a>
                        <div class="dropdown-menu" aria-labelledby="stages1">
                            <div class="block-text text">
                                <ul class="point">
                                    <li>Запуск тестнета TravelChain;</li>
                                    <li>Запуск MVP TravelChain;</li>
                                    <li>Формирование рабочей группы по внедрению TravelChain с представителями индустрии;</li>
                                    <li>TOKEN SALE;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-item-roadmap" data-aos="fade-left" data-aos-delay="400" data-aos-duration="800">
                <div class="box-head">
                    <div class="box-number">2</div>
                    <div class="box-name">
                        Подготовка к запуску <br/> TravelChain
                    </div>
                </div>
                <div class="box-body">
                    <div class="name-date">Январь 2018</div>
                    <div class="text">Цель: подготовка к запуску рабочей сети TravelChain</div>
                </div>
                <div class="box-stages">
                    <div class="dropdown">
                        <a class=" btn-secondary dropdown-toggle" type="button" id="stages2"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Этапы
                        </a>
                        <div class="dropdown-menu" aria-labelledby="stages2">
                            <div class="block-text text">
                                <ul class="point">
                                    <li>Создание базовых стандартов хранения данных о туризме на платформе TravelChain;</li>
                                    <li>Запуск исследователя блоков (block-explorer);</li>
                                    <li>Запуск базового функционала на платформе TravelChain.io;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-item-roadmap" data-aos="fade-left" data-aos-delay="600" data-aos-duration="800">
                <div class="box-head">
                    <div class="box-number">3</div>
                    <div class="box-name">
                        Запуск рабочей сети
                    </div>
                </div>
                <div class="box-body">
                    <div class="name-date">Февраль 2018</div>
                    <div class="text">Цель: запустить рабочую сеть, предоставив возможность разработчикам создавать
                        приложения
                    </div>
                </div>
                <div class="box-stages">
                    <div class="dropdown">
                        <a class=" btn-secondary dropdown-toggle" type="button" id="stages3"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Этапы
                        </a>
                        <div class="dropdown-menu" aria-labelledby="stages3">
                            <div class="block-text text">
                                <ul class="point">
                                    <li>Формирование генезис-блока;</li>
                                    <li>Запуск рабочей сети;</li>
                                    <li>Выход на биржу;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-roadmap box-roadmap-resize block-flex-center box-revers" data-aos="fade-right"
             data-aos-delay="200" data-aos-duration="800">
            <div class="box-item-roadmap">
                <div class="box-head">
                    <div class="box-number">4</div>
                    <div class="box-name">
                        Подготовка инструментов<br/> сбора информации
                    </div>
                </div>
                <div class="box-body">
                    <div class="name-date">I-II квартал 2018</div>
                    <div class="text">Цель: подготовить и запустить сборщики информации</div>
                </div>
                <div class="box-stages">
                    <div class="dropdown">
                        <a class=" btn-secondary dropdown-toggle" type="button" id="stages4"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Этапы
                        </a>
                        <div class="dropdown-menu" aria-labelledby="stages4">
                            <div class="block-text text">
                                <ul class="point">
                                    <li>Внедрение дополнительных операций и плагинов для Travelchain;</li>
                                    <li>Мобильное приложение TravelChain с функционалом кошелька и функцией сбора и контроля данных;</li>
                                    <li>Плагин для Chrome;</li>
                                    <li>Виджет JS для внедрения на сайты партнеров;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-item-roadmap" data-aos="fade-right" data-aos-delay="400" data-aos-duration="800">
                <div class="box-head">
                    <div class="box-number">5</div>
                    <div class="box-name">
                        Интеграция<br/> партнеров
                    </div>
                </div>
                <div class="box-body">
                    <div class="name-date">ll квартал 2018</div>
                    <div class="text">Цель: подключить стратегических партнеров из туристического сектора экономики
                    </div>
                </div>
                <div class="box-stages">
                    <div class="dropdown">
                        <a class=" btn-secondary dropdown-toggle" type="button" id="stages5"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Этапы
                        </a>
                        <div class="dropdown-menu" aria-labelledby="stages5">
                            <div class="block-text text">
                                <ul class="point">
                                    <li>Расширение онтологии по запросам партнеров;</li>
                                    <li>Внедрение виджетов в сайты партнеров;</li>
                                    <li>Глубокая интеграция партнеров;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-item-roadmap" data-aos="fade-right" data-aos-delay="600" data-aos-duration="800">
                <div class="box-head">
                    <div class="box-number">6</div>
                    <div class="box-name">
                        Создание сообщества<br/> разработчиков
                    </div>
                </div>
                <div class="box-body">
                    <div class="name-date">ll квартал 2018</div>
                    <div class="text">Цель: создание сообщества разработчиков, готовых внедрять TravelChain или
                        создавать свои
                        проекты
                    </div>
                </div>
                <div class="box-stages">
                    <div class="dropdown">
                        <a class=" btn-secondary dropdown-toggle" type="button" id="stages6"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Этапы
                        </a>
                        <div class="dropdown-menu" aria-labelledby="stages6">
                            <div class="block-text text">
                                <ul class="point">
                                    <li>Создать расширенную документацию;</li>
                                    <li>Создать сообщество разработчиков;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="box-roadmap block-flex-center">
            <div class="box-item-roadmap" data-aos="fade-left" data-aos-delay="200" data-aos-duration="800">
                <div class="box-head">
                    <div class="box-number">7</div>
                    <div class="box-name">
                        Дистрибьюция монет <br/> и набор критической массы
                    </div>
                </div>
                <div class="box-body">
                    <div class="name-date">ll-lll квартал 2018</div>
                    <div class="text">Цель: запуск дистрибуции токена через проекты экосистемы, команды разработчиков и
                        активных
                        пользователей
                    </div>
                </div>
                <div class="box-stages">
                    <div class="dropdown">
                        <a class=" btn-secondary dropdown-toggle" type="button" id="stages7"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Этапы
                        </a>
                        <div class="dropdown-menu" aria-labelledby="stages7">
                            <div class="block-text text">
                                <ul class="point">
                                    <li>Запуск фонда труда;
                                    </li>
                                    <li>Запуск эмиссии;</li>
                                    <li>Набор 100 тысяч пользователей;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-item-roadmap" data-aos="fade-left" data-aos-delay="400" data-aos-duration="800">
                <div class="box-head">
                    <div class="box-number">8</div>
                    <div class="box-name">
                        Инфраструктура <br/> для масштабирования
                    </div>
                </div>
                <div class="box-body">
                    <div class="name-date">l-ll квартал 2019</div>
                    <div class="text">Цель: создание и внедрение инфраструктурных решений для масштабирования
                        экосистемы
                    </div>
                </div>
                <div class="box-stages">
                    <div class="dropdown">
                        <a class=" btn-secondary dropdown-toggle" type="button" id="stages8"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Этапы
                        </a>
                        <div class="dropdown-menu" aria-labelledby="stages8">
                            <div class="block-text text">
                                <ul class="point">
                                    <li>Создание и внедрение инфраструктурных решений для масштабирования экосистемы;</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-item-roadmap" data-aos="fade-left" data-aos-delay="600" data-aos-duration="800">
                <div class="box-head">
                    <div class="box-btn text-center">
                        <!--<a class="btn btn-red btn-lg"><span class="middle">Подписаться на новости</span></a>-->
                        <a class="btn btn-red btn-lg" data-toggle="modal" data-target="#presale"><span class="middle">Подписаться на новости</span></a>
                    </div>
                </div>
                <div class="box-body box-body-last">
                    <div class="text text-center">Узнавайте о новостях <br/> TravelChain первыми</div>
                </div>
            </div>
        </div>
    </div>
</section>