<section class="section section-intro">
    <div class="container"  data-aos="flip-up">
        <div class="padding-block">
            <h1 class="lite" data-aos="fade-up" data-aos-delay="200">Decentralized Data Exchange for the Travel Industry </h1>
            <div class="text text-bold" data-aos="fade-up" data-aos-delay="300">We Create Smart Traveling Ecosystem</div>
            <a class="btn btn-play-video btn-review " data-aos="fade-up" data-aos-delay="400" data-toggle="modal" data-target="#exampleModal">
                What is TravelChain in 90 sec <div class="box-icon"><i class="icon icon-play"></i></div>
            </a>
        </div>
        <div class="intro-map">
            <img src="/images/map.png" alt="">
            <div class="point"></div>
        </div>
        <div class="intro-down flexible between padding-block">
            <div class="cash">
                <div class="label italic">Raised during the PreSale:</div>
                <div class="value">$ <div class="number">606</div><div class="number">936</div></div>
            </div>
            <div class="form-subs" >
                <div class="text">Subscribe to find out how to get tokens with 15% discount</div>
                <form class="subscribe-form">
                    <div class="box-control">
                        <div class="box-icon-left hide-mobile"><i class="icon icon-air"></i></div>
                        <input type="text" class="form-control subscribe-en-input" placeholder="Your e-mail">
                        <div class="box-btn subscribe-en">
                            <a class="btn btn-red btn-lg"  data-toggle="modal"><span class="hide-mobile">Subscribe</span><i class="icon icon-air-white show-mobile"></i></a>
                        </div>
                    </div>
                </form>
                <div class="text-info">By clicking on the button, you consent to the processing <br/> of your personal data and agree to
                    the
                    <a  href="TRAVELCHAIN.TOKENS.SALE.PRIVACY.POLICY.pdf" target="_blank"  class="link link-underline">Privacy Policy</a>
                </div>
            </div>
            <div class="timer" >
                <div class="label italic">Token Sale starts in:</div>
                <div class="value"><div class="getting-started"></div></div>
            </div>
        </div>
    </div>
</section>