<section class="section section-question">
  <div class="container">
    <div class="padding-block">
      <div class="section-text">
        <div class="name-block border" data-aos="fade-right">FAQ</div>
      </div>
      <div class="question-list slide-group">
        <div class="question-item" data-aos="fade-right" data-aos-delay="50">
          <a class="link name slide-group-next"><span class="name-link">1. Why do we need blockchain in the tourism industry?</span></a>
          <div class="block-text text">
            Data is oil of the 21st century, but in most of the cases it is hidden inside corporate systems
            and cannot be used by other companies to create innovative services. Our goal is to provide
            equal access for data exchange among all players in the market.
          </div>
        </div>
        <div class="question-item" data-aos="fade-right" data-aos-delay="50">
          <a class="link name slide-group-next"><span
              class="name-link">2. Why use open source blockchain? </span></a>
          <div class="block-text text">
            The more applications in the TravelChain ecosystem we have, the higher the number of participants and the
            greater the demand for TravelToken.

          </div>
        </div>
        <div class="question-item" data-aos="fade-right" data-aos-delay="50">
          <a class="link name slide-group-next"><span class="name-link">3. Why does business need a TravelToken? </span></a>
          <div class="block-text text">
            Access to the TravelChain ecosystem data can significantly reduce marketing costs of business.
          </div>
        </div>
        <div class="question-item" data-aos="fade-right" data-aos-delay="100">
          <a class="link name slide-group-next">
            <span class="name-link">4. How much will a TravelToken cost during the Token Sale? </span></a>
          <div class="block-text text">
            There will be two orders issued:
            <ul class="point">
              <li>Equal to $ 3,000,000 with 15% discount for 232 290 502,8 TT. <br/>
                Price: equal to $ 0.0129
              </li>
              <li>Equal to $ 7,000,000 for 460 709 497,2 TT. <br/>
                Price: equal to $ 0.0151
              </li>
            </ul>
          </div>
        </div>
        <div class="question-item" data-aos="fade-right" data-aos-delay="100">
          <a class="link name slide-group-next"><span class="name-link">5. What is the emission of tokens distributed a Token PreSale and Token Sale?
          </a>
          <div class="block-text text">
            In total, 2 100 000 000 TravelTokens will be issued, which will be distributed according to the results of
            Token PreSale and Token Sale:

            <ul class="point">
              <li>Early founders & investors – 1.51%</li>
              <li>Token PreSale - 17.69%</li>
              <li>ICO – 33,00%</li>
              <li>Team – 13.80%</li>
              <li> Advisors – 2,00%</li>
              <li> Bounty – 1.00%</li>
              <li>Development Trust– 30,00%</li>
              <li> The safety fund’s starting account – 1%</li>

            </ul>
          </div>
        </div>
        <div class="question-item" data-aos="fade-right" data-aos-delay="100">
          <a class="link name slide-group-next"><span class="name-link">6. When will the Token Sale  begin and how long will it last?</span></a>
          <div class="block-text text">It starts on December 10 at 14.00 UTC and finishes on February 10 at 14.00 UTC.
          </div>
        </div>
        <div class="question-item" data-aos="fade-right" data-aos-delay="150">
          <a class="link name slide-group-next"><span class="name-link">7. What purpose does the Token Sale campaign pursue? </span></a>
          <div class="block-text text">Hard cap: equal to $ 10 000 000.
            <br/>
            The purpose of raising funds for Token Sale is to lay the groundwork for the platform launch and development
            financing for the first 3 years. This period is enough for the team to reach self-sufficiency. The business
            model is described in detail in White Paper.
            <br/>
            During Token Sale, we are planning to implement a fixed amount of tokens at fixed price by placing 2 orders
            in the equal to $ 3,000,000 and $ 7,000,000, respectively. If the order equal to $3,000,000 is not sold
            during Token Sale at a minimum price, the remaining tokens will be sold later upon agreements with funds and
            private investors or on external exchanges. If the order tokens equal to $7,000,000 are not sold, they will
            be transferred to the Development Trust account and realized when KPI set in White Paper reaches 100
            thousand users.
          </div>
        </div>
        <div class="question-item" data-aos="fade-right" data-aos-delay="150">
          <a class="link name slide-group-next"><span class="name-link">8. How will the funds raised for the Token Sale be used? </span></a>
          <div class="block-text text">
            The raised funds will be distributed as follows:
            <ul class="point">
              <li>Development – 50.3%</li>
              <li>Operating expenses – 19.4%</li>
              <li>Marketing – 21.7%</li>
              <li>Developers community – 6.3%</li>
              <li>Legal services – 1.9%</li>
            </ul>

          </div>
        </div>
        <div class="question-item" data-aos="fade-right" data-aos-delay="150">
          <a class="link name slide-group-next"><span class="name-link">9. Where is a TravelToken issued?
 </span></a>
          <div class="block-text text">
            TravelToken is created on its own blockchain.
          </div>
        </div>
        <div class="question-item" data-aos="fade-right" data-aos-delay="200">
          <a class="link name slide-group-next"><span
              class="name-link">10. Why do we produce TravelToken on our own blockchain?
 </span></a>
          <div class="block-text text">
            Initially, we were going to issue it on a smart contract (ETH-20) basis on Ethereum and then transfer it to
            the TravelChain blockchain. But our development department coped with the prototype writing ahead of
            schedule, this allows us to run Token Sale on our own blockchain.

          </div>
        </div>

        <div class="question-item" data-aos="fade-right" data-aos-delay="200">
          <a class="link name slide-group-next"><span
              class="name-link">11. Has the testnet been launched? </span></a>
          <div class="block-text text">
            The testnet launched on testnet.travelchain.io.
          </div>
        </div>
        <div class="question-item" data-aos="fade-right" data-aos-delay="250">
          <a class="link name slide-group-next"><span class="name-link">12. In what currency will the funds be collected?
 </span></a>
          <div class="block-text text">ETH, BTC</div>
        </div>
        <div class="question-item" data-aos="fade-right" data-aos-delay="250">
          <a class="link name slide-group-next"><span
              class="name-link">13. When can I sell the tokens on the exchange? </span></a>
          <div class="block-text text">
            The flotation will be in two weeks after Token Sale closes.
          </div>
        </div>
        <div class="question-item" data-aos="fade-right" data-aos-delay="250">
          <a class="link name slide-group-next">
            <span
                class="name-link">14. Can citizens of the United States and the PRC participate in the Token Sale?  </span></a>
          <div class="block-text text">
            You cannot take part in Token Sale if you are a citizen of the United States, the PRC or Singapore, or if
            you
            are a citizen or a resident of a country where the use of cryptocurrencies and tokens is restricted.
          </div>
        </div>
        <div class="question-item" data-aos="fade-right" data-aos-delay="250">
          <a class="link name slide-group-next">
            <span class="name-link">15. How to participate in Token Sale? </span></a>
          <div class="block-text text">
            There will be a button "Participate in Token Sale" on the website Travelchain.io. When you click on it, you
            are redirected to your account on wallet.travelchain.io, where you can register your account in the
            TravelChain blockchain. After that, you need to confirm your agreement with the terms of participation in
            Token Sale and fill out the KYC form.
            Please leave your email address on TravelChain.io to get a notification about the Token Sale start.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>