<section class="section section-roadmap">
  <div class="container">
    <div class="text-roadmap padding-block">
      <div class="name-block" data-aos="fade-right">Roadmap project</div>
    </div>
    <div class="box-roadmap block-flex-center">
      <div class="box-item-roadmap" data-aos="fade-left" data-aos-delay="200" data-aos-duration="800">
        <div class="box-head">
          <div class="box-number">1</div>
          <div class="box-name">
            TOKEN SALE
          </div>
        </div>
        <div class="box-body">
          <div class="name-date">December 2017</div>
          <div class="text">Stage target: attract up to $10,000,000 for TravelChain coding and development.</div>
        </div>
        <div class="box-stages">
          <div class="dropdown">
            <a class=" btn-secondary dropdown-toggle" type="button" id="stages1"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stages
            </a>
            <div class="dropdown-menu" aria-labelledby="stages1">
              <div class="block-text text">
                <ul class="point">
                  <li>TravelChain testnet launch;</li>
                  <li>MVP TravelChain launch;</li>
                  <li>Establishing a working group with the industry representatives for TravelChain introduction;</li>
                  <li>TOKEN SALE;</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-item-roadmap" data-aos="fade-left" data-aos-delay="400" data-aos-duration="800">
        <div class="box-head">
          <div class="box-number">2</div>
          <div class="box-name">
            Preparing for <br/> TravelChain launch
          </div>
        </div>
        <div class="box-body">
          <div class="name-date">January 2018</div>
          <div class="text">Stage target: preparing to launch the TravelChain working network.</div>
        </div>
        <div class="box-stages">
          <div class="dropdown">
            <a class=" btn-secondary dropdown-toggle" type="button" id="stages2"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stages
            </a>
            <div class="dropdown-menu" aria-labelledby="stages2">
              <div class="block-text text">
                <ul class="point">
                  <li>Development of basic standards for tourism data storage on the TravelChain platform;</li>
                  <li>Launch of the block explorer;</li>
                  <li>Launch of basic infrastructure on TravelChain.io platform;</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-item-roadmap" data-aos="fade-left" data-aos-delay="600" data-aos-duration="800">
        <div class="box-head">
          <div class="box-number">3</div>
          <div class="box-name">
            Working <br/> network launch
          </div>
        </div>
        <div class="box-body">
          <div class="name-date">February 2018</div>
          <div class="text">Stage target: launch the TravelChain working network providing the opportunity to first
            developers to design their own applications
          </div>
        </div>
        <div class="box-stages">
          <div class="dropdown">
            <a class=" btn-secondary dropdown-toggle" type="button" id="stages3"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stages
            </a>
            <div class="dropdown-menu" aria-labelledby="stages3">
              <div class="block-text text">
                <ul class="point">
                  <li>Genesis block creation;</li>
                  <li>Working network launch;</li>
                  <li>Floatation;</li>
                  <li>Publishing documentation on TravelChain use;</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-roadmap box-roadmap-resize block-flex-center box-revers" data-aos="fade-right" data-aos-delay="200" data-aos-duration="800">
      <div class="box-item-roadmap">
        <div class="box-head">
          <div class="box-number">4</div>
          <div class="box-name">
            Preparation of information <br/> collection tools
          </div>
        </div>
        <div class="box-body">
          <div class="name-date">Q1-Q2 2018</div>
          <div class="text">Stage target: the stage goal is to prepare and launch information collection tools.</div>
        </div>
        <div class="box-stages">
          <div class="dropdown">
            <a class=" btn-secondary dropdown-toggle" type="button" id="stages4"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stages
            </a>
            <div class="dropdown-menu" aria-labelledby="stages4">
              <div class="block-text text">
                <ul class="point">
                  <li>Introduction of additional operations and plug-ins for TravelChain;</li>
                  <li>TravelChain mobile application with wallet features and functions of data collection and control;</li>
                  <li>Plugin for Chrome;</li>
                  <li>JS widget for embedding on partner websites;</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-item-roadmap" data-aos="fade-right" data-aos-delay="400" data-aos-duration="800">
        <div class="box-head">
          <div class="box-number">5</div>
          <div class="box-name">
            Partners <br/> integration
          </div>
        </div>
        <div class="box-body">
          <div class="name-date">Q2 2018</div>
          <div class="text">Stage target: integrate strategic partners from the tourism sector of the economy</div>
        </div>
        <div class="box-stages">
          <div class="dropdown">
            <a class=" btn-secondary dropdown-toggle" type="button" id="stages5"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stages
            </a>
            <div class="dropdown-menu" aria-labelledby="stages5">
              <div class="block-text text">
                <ul class="point">
                  <li>Expansion of the ontology according to the partners requests;</li>
                  <li>Implementing widgets into partners websites;</li>
                  <li>Deep integration of partners;</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-item-roadmap" data-aos="fade-right" data-aos-delay="600" data-aos-duration="800">
        <div class="box-head">
          <div class="box-number">6</div>
          <div class="box-name">
            Creation of the developers <br/>  community.
          </div>
        </div>
        <div class="box-body">
          <div class="name-date">Q2 2018</div>
          <div class="text">Stage target: create a community of developers ready to embed TravelChain in the
            finished projects, or create their own ones
          </div>
        </div>
        <div class="box-stages">
          <div class="dropdown">
            <a class=" btn-secondary dropdown-toggle" type="button" id="stages6"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stages
            </a>
            <div class="dropdown-menu" aria-labelledby="stages6">
              <div class="block-text text">
                <ul class="point">
                  <li>Create advanced documentation;</li>
                  <li>Establish the developers community;</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="box-roadmap block-flex-center">
      <div class="box-item-roadmap" data-aos="fade-left" data-aos-delay="200" data-aos-duration="800">
        <div class="box-head">
          <div class="box-number">7</div>
          <div class="box-name">
            Coins distribution <br/> and critical mass.
          </div>
        </div>
        <div class="box-body">
          <div class="name-date">Q2-Q3 2018</div>
          <div class="text">Stage target: launch the token distribution through ecosystem projects, development
            teams and active users to gain a critical mass of participants
          </div>
        </div>
        <div class="box-stages">
          <div class="dropdown">
            <a class=" btn-secondary dropdown-toggle" type="button" id="stages7"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stages
            </a>
            <div class="dropdown-menu" aria-labelledby="stages7">
              <div class="block-text text">
                <ul class="point">
                  <li>Launch of labor fund;</li>
                  <li>Launch of emission;</li>
                  <li>Reach 100 thousand users;</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-item-roadmap" data-aos="fade-left" data-aos-delay="400" data-aos-duration="800">
        <div class="box-head">
          <div class="box-number">8</div>
          <div class="box-name">
            Infrastructure <br/> for scaling
          </div>
        </div>
        <div class="box-body">
          <div class="name-date">Q1-Q2 2019</div>
          <div class="text">Stage target: arrange infrastructure solutions to scale TravelChain</div>
        </div>
        <div class="box-stages">
          <div class="dropdown">
            <a class=" btn-secondary dropdown-toggle" type="button" id="stages8"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Stages
            </a>
            <div class="dropdown-menu" aria-labelledby="stages8">
              <div class="block-text text">
                <ul class="point">
                  <li>Development and implementation of infrastructure solutions to scale up the ecosystem;</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="box-item-roadmap" data-aos="fade-left" data-aos-delay="600" data-aos-duration="800">
        <div class="box-head">
          <div class="box-btn text-center">
            <a class="btn btn-red btn-lg" data-toggle="modal" data-target="#presale"><span class="middle">Subscribe to news</span></a>
          </div>
        </div>
        <div class="box-body box-body-last">
          <div class="text text-center">Learn the first about <br/>the news TravelChain</div>
        </div>
      </div>
    </div>
  </div>
</section>